<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://res.cloudinary.com" crossorigin />
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js" as="script">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Raleway:wght@400;500;600&family=Tangerine&family=Satisfy&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    {% if carousels %}
      <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    {% endif %}
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
    <link rel="shortcut icon" href="{{ '/img/favicon.png' | url }}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js" async></script>
  </head>
  <body>
    <!-- TODO Have the full menu structure as a JSON file -->
    <nav>
      <div class="mobile">
        <input type="checkbox" id="menu" />
        {% if homePage %}
        <div class="navbar">
        {% else %}
        <div class="navbar inner-page">
        {% endif %}
          {% if homePage %}
          <a href="/">
          <div class="logo-box">
            <img
              src="https://res.cloudinary.com/driyengar/image/upload/v1509773872/website_images/icfa_logo_sml.jpg"
              alt="Iyengar Centre for Fine Arts logo"
            />
          </div>
          </a>
          {% else %}
          <a href="/">
            <div class="logo-box">
              <img
                src="https://res.cloudinary.com/driyengar/image/upload/v1509773872/website_images/icfa_logo_sml.jpg"
                alt="Iyengar Centre for Fine Arts logo"
              />
            </div>
          </a>
          {% endif %}
          <label for="menu" id="ham-icon-wrapper">
            <div id="ham-icon"></div>
          </label>
        </div>
        <div class="multi-level" id="ml1">
          <div class="item">
            <input type="checkbox" id="ml1-A" />
            <div class="label-plus">
              <a href="/page-no-hero">Page No Hero</a>
              <label for="ml1-A">
                <i class="fas fa-chevron-right"></i>
              </label>
            </div>
            <ul>
              <li>
                <a href="/page-hero">Page Hero</a>
              </li>
              <li>
                <a href="/page-hero-carousel">Page Hero Carousel</a>
              </li>
              <li>
                <a href="/page-pullquote">Page Pullquote</a>
              </li>
              <li>
                <a href="/page-no-hero/#scrool">Page Anchor Smooth Scroll</a>
              </li>
            </ul>
          </div>
          <div class="item">
            <input type="checkbox" id="ml1-B" />
            <label for="ml1-B"
              >Get Involved<i class="fas fa-chevron-right"></i>
            </label>
            <ul>
              <li>
                <a href="#">Volunteers</a>
              </li>
              <li>
                <a href="#">Interns</a>
              </li>
              <li>
                <a href="#">Corporates</a>
              </li>
              <li>
                <a href="#">Work with Us</a>
              </li>
            </ul>
          </div>
          <div class="item">
            <div class="label-plus">
              <a href="/contact-us/">Contact Us</a>
            </div>
          </div>
        </div>
        <div class="multi-level" id="ml2">
          <div class="item">
            <div class="label-plus">
              <a href="/">focus areas</a>
            </div>
          </div>
          <div class="item">
            <input type="checkbox" id="ml2-A" />
            <label for="ml2-A"
              >projects & campaigns<i class="fas fa-chevron-right"></i>
            </label>
            <ul>
              <li>
                <a href="#">Projects</a>
              </li>
              <li>
                <a href="#">Campaigns</a>
              </li>
            </ul>
          </div>
          <div class="item">
            <input type="checkbox" id="ml2-B" />
            <label for="ml2-B"
              >history & lessons learnt<i class="fas fa-chevron-right"></i>
            </label>
            <ul>
              <li>
                <div class="sub-item">
                  <input type="checkbox" id="ml1-D-A" />
                  <label for="ml1-D-A">History</label>
                  <ul>
                    <li>
                      <a href="#">Organisational Milestones</a>
                    </li>
                    <li>
                      <a href="#">Awards & Recognitions</a>
                    </li>
                    <li>
                      <a href="#">Journey of Causes</a>
                    </li>
                    <li>
                      <a href="#">Donor History</a>
                    </li>
                    <li>
                      <a href="#">Alliances & Partnerships</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="#">Lessons Learnt</a>
              </li>
            </ul>
          </div>
          <div class="item">
            <input type="checkbox" id="ml2-C" />
            <label for="ml2-C"
              >reports & resources<i class="fas fa-chevron-right"></i>
            </label>
            <ul>
              <li>
                <div class="sub-item">
                  <input type="checkbox" id="ml1-D-A" />
                  <label for="ml1-D-A">Reports</label>
                  <ul>
                    <li>
                      <a href="#">Project Reports</a>
                    </li>
                    <li>
                      <a href="#">Financial Reports</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="#">Resources</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="button-bars">
          <div class="button-bar">
            <div class="button round">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </div>
            <div class="button round">
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
            <div class="button round">
              <a href="#">
                <i class="fab fa-facebook"></i>
              </a>
            </div>
            <div class="button round">
              <a href="#">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
          </div>
          <div class="button-bar">
            <div class="button">
              <a href="#">Donate</a>
            </div>
          </div>
        </div>
      </div>
      <div class="desk">
        {% if homePage %}
        <div class="navbar">
        {% else %}
          {% if noHero %}
          <div class="navbar no-hero">
          {% else %}
          <div class="navbar inner-page">
          {% endif %}
        {% endif %}
        {% if homePage %}
        <a href="/">
          <div class="logo-box">
            <img
              src="https://res.cloudinary.com/driyengar/image/upload/v1509773872/website_images/icfa_logo_sml.jpg"
              alt="Iyengar Centre for Fine Arts logo"
            />
          </div>
        </a>
        {% else %}
        <a href="/">
          <div class="logo-box">
            <img
              src="https://res.cloudinary.com/driyengar/image/upload/v1509773872/website_images/icfa_logo_sml.jpg"
              alt="Iyengar Centre for Fine Arts logo"
            />
          </div>
        </a>
        {% endif %}
          <div class="menu-groups">
            <div class="multi-level">
              <div class="menulevel-section">
                <div class="item">
                  <div class="item-name">
                    <a href="/">
                      <i class="fas fa-home"></i>
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="item-name">
                    <a href="/icfa">ICFA</a>
                  </div>
                </div>
                <div class="item">
                  <div class="item-name">
                    <a href="/training">Training</a>
                  </div>
                </div>
                <div class="item">
                  <div class="item-name">
                    <a href="/workshops">Workshops</a>
                  </div>
                </div>
                <div class="item">
                  <div class="item-name">
                    <a href="/global-work">global work</a>
                  </div>
                </div>

                <div class="item">
                  <div class="item-name">
                    <a href="/contact">Contact</a>
                  </div>
                </div>
              </div>
              <div class="menulevel-section">
                <div class="item">
                  <div class="item-name">
                    <a href="/profile">profile</a>
                  </div>
                </div>
                <div class="item">
                  <div class="item-name">
                    <a href="/productions">Productions</a>
                  </div>
                </div>
                <div class="item">
                  <div class="item-name">
                    <a href="/videos">Videos</a>
                  </div>
                </div>
                <div class="item">
                  <div class="item-name">
                    <a href="/reviews">Reviews</a>
                  </div>
                </div>
                <div class="item">
                  <div class="item-name">
                    <a href="/press-kit">Press Kit</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="button-bar">
              <div class="button icon-img">
                <a href="https://www.facebook.com/Iyengar-Centre-for-FINE-ARTS-293774594468547" target="_blank">
                  <img src="https://res.cloudinary.com/driyengar/image/upload/v1630324119/facebook2_ggrypp.webp" alt="Facebook Link" loading="lazy">
                </a>
              </div>
              <div class="button icon-img">
                <a href="https://www.instagram.com/icfabengaluru/" target="_blank">
                  <img src="https://res.cloudinary.com/driyengar/image/upload/v1630324119/insta2_desu5q.webp" alt="Instagram Link" loading="lazy">
                </a>
              </div>
              <div class="button icon-img">
                <a href="https://www.youtube.com/channel/UCS54iy-nprfzdtoy_xOaHCw" target="_blank">
                  <img src="https://res.cloudinary.com/driyengar/image/upload/v1630324120/youtube2_tkuk2c.webp" alt="Youtube Link" loading="lazy">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    {{ content | safe }}

    <footer>
      <div class="default-footer-content">
        <div class="contact-info">
          <div>
            <a href="mailto:ddriyengar@yahoo.com">
              <i class="far fa-envelope"></i>
              ddriyengar@yahoo.com
            </a>
          </div>
          <div>&#169;{% year %} Seshadri Iyengar, All Rights Reserved</div>
        </div>
        <div>
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1507013638/website_images/gods.png"
            alt="Sri Sri Ravishankar, Lord Ganesha"
          />
        </div>
      </div>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    <script>
      var logoImgMob = document.getElementsByClassName("logo-box")[0];
      var logoImgDesk = document.getElementsByClassName("logo-box")[1];
      var mobileElem = document.getElementsByClassName("mobile")[0];
      var navElem = document.getElementsByTagName("nav")[0];
      var navBarMobElem = document.getElementsByClassName("navbar")[0];
      var navBarDeskElem = document.getElementsByClassName("navbar")[1];
      var innerPage = document.getElementById("innerPage");
      var navBarMobInnerPage = document.getElementsByClassName("inner-page")[0];
      var hamMenuElem = document.getElementById("menu");
      var hamIcon = document.getElementById("ham-icon");
      var contentElem = document.getElementsByClassName("content")[0];
      var heroImage = document.getElementsByClassName("hero-image")[0];
      var heroSlider = document.getElementsByClassName("hero-slider")[0];
      var vanillaSlideshow = document.getElementById(
        "vanilla-slideshow-container"
      );
      const noHero = document.getElementById("noHero");

      // When HOMEPAGE has a banner video
      var heroVideo = document.getElementById("heroVideo");
      var audioToggleElem = document.getElementsByClassName("volume-icon")[0];

      var ht = window.innerHeight;
      var a_third_ht = ht * 0.33;

      // Global variables
      const navbar_bg_color_solid = "rgba(0, 0, 0, 1.0)";
      var navbar_bg_color_trans = "rgba(0, 0, 0, 0)";
      if (noHero)
        navbar_bg_color_trans = "rgba(0, 0, 0, 1.0)";
      const navbar_bg_color_semitrans = "linear-gradient(to bottom, rgb(0, 0, 0, 0.4), rgba(0, 0, 0, 0))";
      const navbar_height = "100px";
      const navbar_height_onscroll = "60px";
      const navbar_desk_height = "120px";
      const navbar_desk_height_onscroll = "100px";

      window.scroll({ behavior: "smooth" });

      window.addEventListener("scroll", () => {
        let fromTop = window.scrollY;

        if (fromTop > 0) {
          if (logoImgMob) {
            logoImgMob.style.width = "40px";
            logoImgMob.style.height = "40px";
          }
          if (logoImgDesk) {
            logoImgDesk.style.width = "70px";
            logoImgDesk.style.height = "70px";
          }
          navBarMobElem.style.height = navbar_height_onscroll;
          navBarMobElem.style.backgroundColor = navbar_bg_color_solid;
          navBarDeskElem.style.height = navbar_desk_height_onscroll;
          navBarDeskElem.style.backgroundColor = navbar_bg_color_solid;
          
          if (fromTop > a_third_ht) {
            if (heroVideo) {
              heroVideo.pause();
            }
          }
        }

        if (fromTop < 1) {
          if (!hamMenuElem.checked) {
            if (logoImgMob) {
              logoImgMob.style.width = "clamp(70px, 6vw, 120px)";
              logoImgMob.style.height = "clamp(70px, 6vw, 120px)";
            }
            if (logoImgDesk) {
              logoImgDesk.style.width = "clamp(70px, 6vw, 120px)";
              logoImgDesk.style.height = "clamp(70px, 6vw, 120px)";
            }
            navBarMobElem.style.height = navbar_height;
            navBarDeskElem.style.height = navbar_desk_height;
            navBarDeskElem.style.backgroundColor = navbar_bg_color_trans;
            if (innerPage) {
              navBarDeskElem.style.backgroundColor = navbar_bg_color_semitrans;
              navBarMobInnerPage.style.backgroundColor = navbar_bg_color_semitrans;
              navBarMobElem.style.backgroundColor = "transparent";
            }

            if (fromTop < a_third_ht) {
              if (heroVideo) {
                heroVideo.play();
              }
            }
          }
        }
      });

      hamMenuElem.addEventListener("click", () => {
        if (hamMenuElem.checked) {
          mobileElem.style.backgroundColor = navbar_bg_color_solid;
          mobileElem.style.minHeight = "100vh";
          if (contentElem) {
            contentElem.style.overflow = "hidden";
            contentElem.style.position = "fixed";
            mobileElem.style.backgroundColor = navbar_bg_color_solid;
          }
          navBarMobElem.style.height = navbar_height_onscroll;
          hamIcon.classList.toggle("ham-open");
        } else {
          if (innerPage) {
            mobileElem.style.backgroundColor = navbar_bg_color_semitrans;
          } else {
            mobileElem.style.backgroundColor = "transparent";
          }
          mobileElem.style.minHeight = "100%";
          if (contentElem) {
            contentElem.style.overflow = "auto";
            contentElem.style.position = "static";
          }
          navBarMobElem.style.height = navbar_height;
          hamIcon.classList.toggle("ham-open");
        }
      });

      if (audioToggleElem) {
        audioToggleElem.addEventListener("click", () => {
          if (heroVideo && heroVideo.muted) {
            audioToggleElem.innerHTML = "<i class='fas fa-volume-up'></i>";
          } else {
            audioToggleElem.innerHTML = "<i class='fas fa-volume-mute'></i>";
          }
          heroVideo.muted = !heroVideo.muted;
        });
      }

      if (ht > 799) {
        if (heroImage) {
          heroImage.style.marginTop = "-" + navbar_desk_height;
        }

        if (heroSlider) {
          heroSlider.style.marginTop = "-" + navbar_desk_height;
        }
      }

      $(document).ready(function () {
        // prevent download of images through mouse events
        $("img").bind("contextmenu", function (e) {
          return false;
        });

        // If the banner is NOT a video or it is an INNERPAGE, display the menubar right away
        if(!heroVideo || innerPage) {
          if (navBarDeskElem) navBarDeskElem.style.visibility = "visible";
        }
      });
    </script>
  </body>
</html>
