.is-flkty-hidden {
  opacity: 0;
}

.flick-carousel {
  width: 100%;
  &.panorama {
    // Image -- width : height = 1330 : 650
    // carousel width = 100% of 65vw = 65vw
    // carousel height = 65vw * (650/1300) = 65vw * 0.5 = 32.5vw
    // adding caption box height
    height: calc(32.5vw + 70px);
    margin: 0 auto;
    &.no-caption {
      height: 32.5vw;
    }
  }

  &.standard {
    // Image -- width : height = 900 : 600
    // carousel width = 100% of 65vw = 65vw
    // carousel height = 65vw * (600/900) = 65vw * 0.667 = 43.36vw
    // adding caption box height
    height: calc(43.36vw + 70px);
    margin: 0 auto;
    &.no-caption {
      height: 43.36vw;
    }
  }

  &.square {
    // Image -- width : height = 600 : 600
    // carousel width = 80% of 65vw = 52vw
    // carousel height = 52vw * (600/600) = 52vw * 1 = 52vw
    // adding caption box height
    height: calc(52vw + 70px);
    margin: 0 auto;
    &.no-caption {
      height: 52vw;
    }
  }
  .carousel-cell {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    counter-increment: carousel-cell;

    .slide-img {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        &.contain {
          object-fit: scale-down;
        }
      }
    }

    .slide-caption {
      max-width: 100%;
      padding: 14px;
      background-color: var(--background-color-dark);
      color: var(--light-grey);
      font-family: var(--sans-serif-font-family);
      font-weight: var(--medium-sansserif-font-weight);
      font-size: clamp(14px, 1.5vw, 16px);
      line-height: clamp(22px, 2vw, 24px);
      text-align: center;
      border-radius: 0 0 10px 10px;
      -webkit-box-shadow: 0 1px 1px rgba(4, 13, 41, 0.3),
        0 2px 2px rgba(4, 13, 41, 0.25), 0 4px 4px rgba(4, 13, 41, 0.2),
        0 8px 8px rgba(4, 13, 41, 0.25), 0 16px 16px rgba(4, 13, 41, 0.1);
      box-shadow: 0 1px 1px rgba(4, 13, 41, 0.3),
        0 2px 2px rgba(4, 13, 41, 0.25), 0 4px 4px rgba(4, 13, 41, 0.25),
        0 8px 8px rgba(4, 13, 41, 0.2), 0 16px 16px rgba(4, 13, 41, 0.1);
    }
  }
  .flickity-button {
    background: transparent;
    border: 2px solid var(--threequarter-white);
    transition: all 0.5s;
    .flickity-button-icon {
      fill: var(--threequarter-white);
    }
  }
  .flickity-button:hover {
    background: var(--socialmedia-color--light);
    border: 2px solid var(--hero-button-text-color);
    .flickity-button-icon {
      fill: var(--light-grey);
    }
  }

  .flickity-prev-next-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  /* icon color */
  .flickity-button-icon {
    fill: var(--threequarter-white);
    left: 28%;
    top: 30%;
    width: 40%;
    height: 40%;
  }
  /* position dots in carousel */
  .flickity-page-dots {
    bottom: 80px;
  }
  &.no-caption {
    .flickity-page-dots {
      bottom: 10px;
    }
  }
  /* threequarter-white circles */
  .flickity-page-dots .dot {
    width: 6px;
    height: 6px;
    opacity: 1;
    background: transparent;
    border: 1px solid var(--threequarter-white);
  }
  /* fill-in selected dot */
  .flickity-page-dots .dot.is-selected {
    background: var(--threequarter-white);
  }
}

// Mobile + Tablet
@media only screen and (max-width: 800px) {
  .flick-carousel {
    width: 100%;
    &.panorama {
      // carousel width = 100% of 100vw = 100vw
      // carousel height = 100vw * (650/1300) = 50vw
      height: calc(50vw + 50px);
      &.no-caption {
        height: 50vw;
      }
    }
    &.standard {
      // carousel width = 100% of 100vw = 100vw
      // carousel height = 100vw * (600/900) = 100vw * 0.667 = 66.7vw
      height: calc(66.7vw + 50px);
      &.no-caption {
        height: 66.7vw;
      }
    }
  }
}
