footer {
  max-width: 100%;
  min-height: fit-content;
  background-color: var(--header-footer-color);
  font-family: var(--sans-serif-font-family);
  font-size: clamp(12px, 2vw, 16px);
  line-height: clamp(15px, 2.4vw, 17px);
  font-weight: var(--medium-font-weight);
  letter-spacing: 1px;
  color: var(--light-grey);
  text-align: center;
  padding: 150px 0 100px;

  a {
    text-decoration: none;
    color: var(--light-grey);
  }

  .default-footer-content {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 30px;
    border-top: 1px solid var(--very-dark-grey);
  }
  .contact-info {
    display: block;
    text-align: left;
    max-width: 75%;
    // gap between elements
    > * + * {
      margin-top: 15px;
    }
  }
}

// mobile & tablet
@media screen and (max-width: 800px) {
  footer {
    padding: 50px 0 50px;
    .default-footer-content {
      border: 0;
    }
    .contact-info {
      max-width: 50%;
      > * + * {
        margin-top: 8px;
      }
    }
  }
}
