.hero-image {
  margin-top: calc(var(--navbar-height) * (-1));
  max-width: 100vw;
  min-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000;
  position: relative;
  margin-bottom: 1em;
}

.hero-video {
  background-color: #000;
  margin-top: calc(var(--navbar-height) * (-1));
  max-width: 100vw;
  min-height: 100vh;
  // width: 100%;
  // height: 100vh;
  // position: absolute;
  position: relative;
  // top: 0;
  // left: 0;
  video {
    width: 100%;
    // height: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .volume-icon {
    position: absolute;
    bottom: 10vh;
    left: clamp(100px, 10vw, 2em);
    z-index: 5;
    font-size: calc(0.65em + 1vw);
    color: var(--dark-grey);
  }
}

.hero-video--content {
  // this solves the FOUC problem (flash of unstyled content)
  visibility: hidden;
  position: absolute;
  bottom: 20vh;
  // right position same as padding on navbar-desk
  right: 3vw;
  z-index: 5;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;

  .hero-video--text {
    text-align: right;
    font-family: var(--banner-title-font-family);
    font-size: calc(2.5rem + 3.5vw);
    line-height: calc(2.6rem + 3.5vw);
    padding-bottom: 22px;
  }
  .hero-video--tagline {
    font-family: var(--sans-serif-font-family);
    font-size: clamp(12px, 1.95vw, 24px);
    line-height: clamp(13px, 2vw, 26px);
    text-align: right;
  }
  .hero-video--buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 30px;
    .hero-video--button {
      padding: 15px 20px;
      margin-left: 20px;
      background-color: transparent;
      color: var(--hero-button-text-color);
      text-transform: uppercase;
      font-size: clamp(14px, 1.2vw, 20px);
      font-family: var(--sans-serif-font-family);
      font-weight: var(--medium-sansserif-font-weight);
      border-radius: 8px;
      border: 2px solid var(--hero-button-border-color);
      transition: all 1s;
      &:hover {
        background-color: var(--hero-button-hover-color);
        color: #000;
        cursor: pointer;
      }
    }
  }
}

.hero-misc--content {
  // this solves the FOUC problem (flash of unstyled content)
  visibility: hidden;
  position: absolute;
  bottom: 10vh;
  // left position same as padding on logo in navbar
  left: 4em;
  z-index: 5;
  width: 5%;
  display: flex;
  flex-direction: column;

  .hero-misc--top {
    padding-bottom: 50px;
  }

  .hero-misc--bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.hero-text {
  position: absolute;
  bottom: 17vh;
  right: 8vw;
  color: #fff;
  text-align: right;
  font-size: calc(1.25rem + 4vw);
  line-height: calc(1.75rem + 4vw);
  max-width: 75%;
  text-shadow: 2px 2px 4px #4d4d4d;
}

.hero-credit {
  position: absolute;
  writing-mode: vertical-rl;
  bottom: 90px;
  right: 2px;
  font-size: calc(10px + 0.3vw);
  color: #dddddd;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.hero-item {
  display: none;
}

.hero-item-hover {
  display: none;
}

.hero-item-hover {
  display: none;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
// Desktop + Tablet
@media only screen and (min-width: 800px) {
  .hero-video {
    margin-top: calc(var(--navbar-desk-height) * (-1));
  }
  .hero-text {
    right: 5vw;
    bottom: 10vh;
  }
  .hero-credit {
    right: 2px;
    bottom: 80px;
  }
  .hero-item {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    border-radius: 50px;
    box-shadow: 5px -6px 4px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 5px -6px 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 5px -6px 4px rgba(0, 0, 0, 0.15);
    img {
      width: 10vw;
    }
    &.round {
      border-radius: 50%;
      box-shadow: 5px -10px 4px rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: 5px -10px 4px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 5px -10px 4px rgba(0, 0, 0, 0.15);
    }
  }
  .hero-item#img-1 {
    top: 45vh;
    left: 20vw;
  }
  .hero-item#img-2 {
    top: 45vh;
    left: 45vw;
  }
  .hero-item#img-3 {
    top: 45vh;
    left: 70vw;
  }
  .hero-item-hover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .hero-item:hover {
    cursor: pointer;
    .hero-item-hover {
      opacity: 1;
    }
  }
}
