.multi-column-section {
  display: flex;
  justify-content: space-evenly;
  align-content: center;

  > * + * {
    margin-left: 2vw;
  }
  &.pack-tight {
    justify-content: space-evenly;
  }
  &.solo {
    justify-content: center;
  }
  &.container {
    max-width: 65%;
    margin: 0 auto;
  }
  &.container-w75 {
    max-width: 75%;
    margin: 0 auto;
  }
  .gap-50 {
    margin-left: 50px;
  }
  .gap-10 {
    margin-left: 10px;
  }
  .gap-2vw {
    margin-left: 2vw;
  }
  .v-center {
    align-self: center;
  }
  .w-40 {
    width: 40%;
  }
}

.multi-row-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  &[data-gridgap="3vw"] {
    // gap: 3vw;
    > * + * {
      margin-top: 3vw;
    }
  }
  &[data-gridgap="12px"] {
    // gap: 12px;
    // flex gap does not work in safari < v14
    // check if this work-around works for safari
    > * + * {
      margin-top: 12px;
    }
  }
  &[data-gridgap="15px"] {
    // gap: 15px;
    > * + * {
      margin-top: 15px;
    }
  }
  &[data-gridgap="30px"] {
    // gap: 30px;
    > * + * {
      margin-top: 30px;
    }
  }
  &.container {
    max-width: 65%;
    margin: 0 auto;
  }
  &.container-w75 {
    max-width: 75%;
    margin: 0 auto;
  }
  &.container-flkty {
    max-width: 65vw;
    margin: 0 auto;
  }
}

// Mobile + Tablet
@media only screen and (max-width: 800px) {
  .multi-row-section {
    &.container-flkty {
      max-width: 100vw;
    }
  }
}

.multi-column-grid {
  display: grid;
  width: 100%;
  &[data-columns="2"] {
    grid-template-columns: repeat(2, 1fr);
  }
  &[data-columns="3"] {
    grid-template-columns: repeat(3, 1fr);
  }
  &[data-columns="4"] {
    grid-template-columns: repeat(4, 1fr);
  }
  &[data-gridgap="12px"] {
    gap: 12px;
  }
  &[data-gridgap="15px"] {
    gap: 15px;
  }
}

.space-below {
  margin-bottom: calc(3em + 5vw) !important;
}
.space-above {
  margin-top: calc(3em + 5vw) !important;
}
.headline-space-above {
  margin-top: calc(1em + 5vw) !important;
}

.pad-top {
  padding-top: 0.75em !important;
}
.no-top-padding {
  padding-top: 0 !important;
}

.full-width {
  max-width: 100%;
}
.airgap {
  width: 50px;
}

.img-wrapper {
  max-width: 22vw;
  &.drop-shadow {
    -webkit-box-shadow: 0 1px 1px rgba(4, 13, 41, 0.4),
      0 2px 2px rgba(4, 13, 41, 0.35), 0 4px 4px rgba(4, 13, 41, 0.3),
      0 8px 8px rgba(4, 13, 41, 0.35), 0 16px 16px rgba(4, 13, 41, 0.2);
    box-shadow: 0 1px 1px rgba(4, 13, 41, 0.4), 0 2px 2px rgba(4, 13, 41, 0.35),
      0 4px 4px rgba(4, 13, 41, 0.35), 0 8px 8px rgba(4, 13, 41, 0.3),
      0 16px 16px rgba(4, 13, 41, 0.2);
  }

  &.rounded {
    border-radius: 3%;
    overflow: hidden;
  }
  &.full-width {
    max-width: 90%;
  }
  &.half-width {
    max-width: 50%;
    height: 100%;
  }
  &.center {
    margin: 0 auto;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
