.multi-column-section {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  // overflow-y: hidden;
  padding: 1em 0;

  > * + * {
    margin-left: 2vw;
  }
  &.wrap-columns {
    flex-wrap: wrap;
    gap: 50px;
  }
  &.pack-tight {
    justify-content: space-evenly;
  }
  &.solo {
    justify-content: center;
  }
  &.container {
    max-width: 65%;
    margin: 0 auto;
  }
  &.container-w75 {
    max-width: 75%;
    margin: 0 auto;
  }
  .gap-50 {
    margin-left: 50px;
  }
  .gap-10 {
    margin-left: 10px;
  }
  .gap-2vw {
    margin-left: 2vw;
  }
  .v-center {
    align-self: center;
  }
  .w-40 {
    width: 40%;
  }
}

.multi-row-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  &[data-gridgap="3vw"] {
    // gap: 3vw;
    > * + * {
      margin-top: 3vw;
    }
  }
  &[data-gridgap="12px"] {
    // gap: 12px;
    // flex gap does not work in safari < v14
    > * + * {
      margin-top: 12px;
    }
  }
  &[data-gridgap="15px"] {
    // gap: 15px;
    > * + * {
      margin-top: 15px;
    }
  }
  &[data-gridgap="30px"] {
    // gap: 30px;
    > * + * {
      margin-top: 30px;
    }
  }
  &.container {
    max-width: 65%;
    margin: 0 auto;
  }
  &.container-w75 {
    max-width: 75%;
    margin: 0 auto;
  }
  &.container-flkty {
    max-width: 55vw;
    margin: 0 auto;
  }
  &.pack-tight {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 1250px) {
  .multi-column-section {
    &.wrap-on-small {
      flex-wrap: wrap;
      gap: 50px;
      > * + * {
        margin-left: 0;
      }
    }
    &.container {
      max-width: 85%;
    }
  }
}

// Mobile + Tablet
@media only screen and (max-width: 800px) {
  .multi-column-section {
    &.container {
      max-width: 85%;
    }
  }
  .multi-row-section {
    &.container {
      max-width: 85%;
    }
    &.container-flkty {
      max-width: 100vw;
    }
  }
}

.multi-column-grid {
  display: grid;
  width: 100%;
  &[data-columns="2"] {
    grid-template-columns: repeat(2, 1fr);
  }
  &[data-columns="3"] {
    grid-template-columns: repeat(3, 1fr);
  }
  &[data-columns="4"] {
    grid-template-columns: repeat(4, 1fr);
  }
  &[data-gridgap="12px"] {
    gap: 12px;
  }
  &[data-gridgap="15px"] {
    gap: 15px;
  }
}

.space-below {
  margin-bottom: calc(3em + 5vw) !important;
}
.space-above {
  margin-top: calc(3em + 5vw) !important;
}
.headline-space-above {
  margin-top: calc(1em + 5vw) !important;
}

.pad-top {
  padding-top: 0.75em !important;
}
.no-top-padding {
  padding-top: 0 !important;
}

.full-width {
  max-width: 100%;
}
.airgap {
  width: 50px;
}

.img-wrapper {
  max-width: 22vw;
  overflow: hidden;
  &.drop-shadow {
    -webkit-box-shadow: 0 1px 1px rgba(47, 40, 29, 0.3),
      0 2px 2px rgba(47, 40, 29, 0.25), 0 4px 4px rgba(47, 40, 29, 0.25),
      0 8px 8px rgba(47, 40, 29, 0.25);
    box-shadow: 0 1px 1px rgba(47, 40, 29, 0.3),
      0 2px 2px rgba(47, 40, 29, 0.25), 0 4px 4px rgba(47, 40, 29, 0.25),
      0 8px 8px rgba(47, 40, 29, 0.2);
    transition: all 0.4s ease-in-out;

    &:hover {
      -webkit-box-shadow: 0 1px 8px rgba(47, 40, 29, 0.15),
        0 2px 10px rgba(47, 40, 29, 0.1), 0 4px 14px rgba(47, 40, 29, 0.1),
        0 6px 32px rgba(47, 40, 29, 0.3);
      box-shadow: 0 1px 8px rgba(47, 40, 29, 0.15),
        0 2px 10px rgba(47, 40, 29, 0.1), 0 4px 14px rgba(47, 40, 29, 0.1),
        0 6px 32px rgba(47, 40, 29, 0.3);
    }
  }

  &.rounded {
    border-radius: 10px;
  }
  &.full-width {
    max-width: 90%;
  }
  &.half-width {
    max-width: 50%;
    height: 100%;
  }
  &.center {
    margin: 0 auto;
  }
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    &.contain {
      object-fit: contain;
    }
  }
}

.map {
  max-width: 450px;
  display: flex;
  justify-content: left;
}

@media only screen and (max-width: 1250px) {
  .map {
    max-width: 80vw;
  }
}

#scroll-to-top {
  width: 30px;
  height: 30px;
  padding: 3px;
  padding-bottom: 6px;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  position: fixed;
  bottom: 2px;
  right: 2px;
  font-size: 1.75em;
  color: var(--accent-color);
  // display: flex;
  // justify-content: center;
  // align-items: center;
  text-align: center;
  z-index: 5;
  &:hover {
    cursor: pointer;
  }
  display: none;
}
