// Desktop + Tablet
@media only screen and (min-width: 800px) {
  .desk {
    display: block;
  }

  .mobile {
    display: none;
  }
}

.desk .navbar {
  height: var(--navbar-desk-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  background-color: var(--navbar-bg-color);
  transition: all 0.5s;
  z-index: var(--navbar-z-index);
  // For the home button on the navbar
  > a {
    font-size: 18px;
    font-family: var(--sans-serif-font-family);
    color: var(--navbar-item-color);
    text-decoration: none;
    text-align: center;
    transition: color 0.75s;
  }
  > a:hover {
    color: var(--accent-color-1);
  }
}

.desk .navbar.trans {
  background-color: transparent;
}

.desk .menu-groups {
  display: flex;
  flex-direction: column;
  // min-width: max-content;

  .multi-level {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.75em 0 0.25em;

    .item {
      position: relative;
      padding-left: 1.5em;

      a {
        font-family: var(--sans-serif-font-family);
        text-decoration: none;
        text-transform: uppercase;
        color: var(--navbar-item-color);
        font-size: 16px;
        &:hover {
          text-decoration: underline;
          text-decoration-color: var(--navbar--accent-color);
          text-underline-offset: 3px;
          text-decoration-thickness: 2px;
        }
      }

      .item-name {
        font-size: 16px;
        // font-weight: 100;
        color: var(--navbar-item-color);
        cursor: pointer;

        ul {
          list-style: none;
          position: absolute;
          // 23px makes the dropdown menu stay
          // when mouse moves onto it
          top: 23px;
          width: max-content;
          height: fit-content;
          // keep top margin at 2px only
          // greater than 2px will make the dropdown disappear
          // when mouse moves off the item
          margin: 2px 0 0;
          padding: 0;
          z-index: calc(var(--navbar-z-index) + 1);
          background-color: var(--navbar-dropdown-bg-color);
          border: 1px solid var(--navbar-dropdown-border-color);
          border-radius: 4px;
          transform: translateY(10px);
          opacity: 0;
          pointer-events: none;
          transition: all 0.5s;

          li {
            padding: 6px 12px;
            border-top: 1px solid var(--navbar-dropdown-border-color);

            & > a {
              text-transform: uppercase;
              font-size: 16px;
            }

            &:first-child {
              border: none;
            }

            .sub-item {
              .item-name {
                & > a {
                  text-transform: uppercase;
                  font-size: 16px;
                }
                ul {
                  position: static;
                  border: none;
                  background-color: transparent;
                  li {
                    border: none;
                    & > a {
                      text-transform: none;
                      font-size: 16px;
                      color: var(--navbar-subitem-color);
                    }
                  }
                }
              }
            }
          }
        }
      }

      &:last-child {
        ul {
          right: 0px;
        }
      }
    }

    .item:first-of-type {
      padding-left: 0;
    }

    .button-bar {
      display: flex;
      justify-content: flex-end;
      padding-left: 1em;
      .button {
        padding: 0;
      }
    }
  }
}

.desk .menu-groups .item .item-name:hover ul {
  opacity: 1;
  pointer-events: auto;
  transform: translate(0, 0);
  .sub-item {
    ul {
      opacity: 1;
      pointer-events: auto;
      transform: translate(0, 0);
    }
  }
}

.desk .button-bar {
  .button {
    background-color: var(--accent-color-1);
    border-radius: 15px;
    margin: 0 4px;
    &:last-child {
      margin-right: 0;
    }
    &.round {
      padding: 6px 11px;
      text-align: center;
      border-radius: 25px;
      font-size: 18px;
      i {
        color: var(--accent-color-2);
      }
    }
    transition: background-color 0.5s;
    &:hover {
      background-color: var(--accent-color-1--lighter);
    }
  }
}

.desk .multi-level .item > .item-name > a {
  font-size: calc(16px + 0.2vw);
}

.desk .multi-level#ml1 {
  .ml1-menu-section {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--very-dark-grey);
  }

  .item-name > a {
    text-transform: uppercase;
    font-weight: var(--medium-font-weight);
  }

  justify-content: flex-start;

  // setting margin-left to auto makes the button-bar align right
  .button-bar {
    margin-left: auto;
    .button.round {
      padding: 6px 10px;
    }
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

.desk .multi-level#ml2 {
  padding-top: 5px;
}
