@import "variables";

html,
body {
  min-height: fit-content;
  margin: 0;
  padding: 0;
  font-family: var(--serif-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-size: 20px;
  position: relative;
  // overflow: hidden;
}

//  Enable smooth scrolling on the whole document
// TODO: does not work on safari iOS
// html {
//   scroll-behavior: smooth;
// }

// protect image download by blocking mouse events
img {
  pointer-events: none;
}

:focus {
  outline: none;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
// Desktop + Tablet
@media only screen and (min-width: 800px) {
  body {
    font-size: 16px;
  }
}

@import "navbar";
@import "navbar-desk";
@import "vanillaSlideshow";
// @import "hero";

@import "hero-fixed";
@import "content";
@import "footer";
@import "home";
@import "video-wrapper";
@import "owl-carousel-custom";
