table {
  background-color: var(--accent-color);
  color: var(--accent-color-text);
  border-radius: 10px;
  border-collapse: collapse;
  padding: 2vw;
  table-layout: fixed;

  .link:hover {
    color: var(--accent-color-verylight);
    border-color: var(--accent-color-verylight);
  }
  .fancy-link:hover {
    color: var(--accent-color-verylight);
    border-color: var(--accent-color-verylight);
  }
  .fancy-link:hover::before {
    color: var(--accent-color-verylight);
    border-color: var(--accent-color-verylight);
  }
  thead {
    background-color: var(--accent-color-dark);
    border: 1px solid var(--accent-color-dark);
    tr {
      th {
        padding: 1vw;
        position: sticky;
      }
    }
  }
  tbody {
    tr {
      border: 1px solid var(--accent-color-dark);
      overflow: hidden;
      &:nth-child(2n + 1) {
        background-color: var(--accent-color-light);
      }
      td {
        padding: 0.75em;
        border: 1px solid var(--accent-color-dark);
        em {
          color: var(--accent-color-vvdark);
          font-family: var(--sans-serif-font-family);
          font-weight: var(--strong-sansserif-font-weight);
          display: block;
        }
        .td-title {
          display: block;
          color: var(--accent-color-vvdark);
          font-family: var(--sans-serif-font-family);
          font-weight: var(--strong-sansserif-font-weight);
          font-size: 1.4em;
        }
      }
    }
  }
}
