:root {
  --navbar-height: 100px;
  --navbar-desk-height: 120px;
  --navbar-bg-color: rgba(248, 133, 56, 0.5);
  --navbar-item-color: #fff;
  --navbar-subitem-color: #cfcfcf;
  --navbar--accent-color: #f88538;
  --navbar-dropdown-bg-color: rgba(0, 0, 0, 0.8);
  --navbar-dropdown-border-color: #fff;
  --navbar-z-index: 10;
  --ham-menu-bg-color: #f88538;
  --ham-menu-accent-color: #fac890;
  --ham-menu-item-color: #000;
  --ham-menu-subitem-color: #5e3b23;
  --ham-menu-border-color: #c27644;
  --ham-menu-chevron-color: #333;
  --ham-menu-icon-color: #fff;
  --fullscreen-slideshow-z-index: 5;
  --primary-color: #f88538;
  --accent-color-1: #fac890;
  --accent-color-2: #c27644;
  --body-text-color: #fff;
  --strong-font-weight: 400;
}
