:root {
  --bg-color: #2748d8;
  --navbar-height: 100px;
  --navbar-desk-height: 120px;
  --navbar-bg-color: rgba(0, 0, 0, 0);
  --navbar-semi-bg-color: rgba(0, 0, 0, 0.3);
  --navbar-item-color: #cccccc;
  --navbar-subitem-color: #cfcfcf;
  --navbar--accent-color: #a20147;
  --navbar-dropdown-bg-color: rgba(0, 0, 0, 0.8);
  --navbar-dropdown-border-color: #cccccc;
  --navbar-z-index: 10;
  --ham-menu-bg-color: hsl(241, 93%, 23%);
  --ham-menu-accent-color: hsl(334, 99%, 32%);
  --ham-menu-item-color: #fff;
  --ham-menu-subitem-color: #dfdfdf;
  --ham-menu-border-color: hsl(334, 99%, 32%);
  --ham-menu-chevron-color: #d4d4d4;
  --ham-menu-icon-color: #fff;
  --fullscreen-slideshow-z-index: 5;
  --slanteddiv-color1: hsl(241, 93%, 23%);
  --slanteddiv-color1--light: hsl(241, 93%, 32%);
  --slanteddiv-color2: hsl(334, 99%, 32%);
  --slanteddiv-color2--light: hsl(334, 74%, 47%);
  --slanteddiv-color3: hsl(36, 100%, 40%);
  --slanteddiv-color3--light: hsl(36, 100%, 50%);
  --slanteddiv-color4: hsl(170, 98%, 12%);
  --slanteddiv-color4: hsl(170, 98%, 20%);
  --background-color: hsl(226, 82%, 20%);
  --background-color-dark: hsl(226, 84%, 20%);
  --background-color--light: hsl(226, 75%, 36%);
  --background-pattern-color: hsl(226, 70%, 43%);
  --border-color: rgba(255, 255, 255, 0.5);
  --hero-button-text-color: hsl(36, 100%, 55%);
  --hero-button-hover-color: hsl(36, 100%, 46%);
  --hero-button-border-color: hsl(334, 74%, 47%);
  --socialmedia-color: hsl(334, 99%, 32%);
  --socialmedia-color--light: hsl(334, 74%, 47%);
  --socialmedia-text-color: hsl(36, 100%, 46%);
  --header-footer-color: #080808;
  --body-text-color: #ffffff;
  --light-grey: #d4d4d4;
  --dark-grey: #929292;
  --very-dark-grey: #4b4b4b;
  --semi-white: rgba(255, 255, 255, 0.5);
  --threequarter-white: rgba(255, 255, 255, 0.75);
  --serif-font-family: "Merriweather", serif;
  --sans-serif-font-family: "Raleway", sans-serif;
  --banner-home-title-font-family: "Tangerine", cursive;
  --banner-title-font-family: "Satisfy", cursive;
  // --light-font-weight: 100;
  --medium-font-weight: 400;
  --medium-sansserif-font-weight: 500;
  --medium-serif-font-weight: 500;
  --strong-sansserif-font-weight: 600;
  --strong-font-weight: 700;
}
