:root {
  --navbar-height: 100px;
  --navbar-desk-height: 120px;
  --navbar-bg-color: rgba(10, 18, 113, 0);
  --navbar-item-color: #cccccc;
  --navbar-subitem-color: #cfcfcf;
  --navbar--accent-color: #a20147;
  --navbar-dropdown-bg-color: rgba(0, 0, 0, 0.8);
  --navbar-dropdown-border-color: #cccccc;
  --navbar-z-index: 10;
  --ham-menu-bg-color: hsl(235, 84%, 24%);
  --ham-menu-accent-color: hsl(334, 99%, 32%);
  --ham-menu-item-color: #fff;
  --ham-menu-subitem-color: #dfdfdf;
  --ham-menu-border-color: hsl(334, 99%, 32%);
  --ham-menu-chevron-color: #dfdfdf;
  --ham-menu-icon-color: #fff;
  --fullscreen-slideshow-z-index: 5;
  --primary-color: hsl(235, 84%, 24%);
  // --primary-color: rgb(10, 18, 113);
  --primary-color--lighter: hsl(235, 84%, 55%);
  --primary-color--lowsat: hsl(235, 50%, 28%);
  --accent-color-1: hsl(334, 99%, 32%);
  --accent-color-1--lighter: hsl(334, 74%, 47%);
  --accent-color-2: hsl(36, 100%, 46%);
  --accent-color-2--lighter: hsl(36, 100%, 55%);
  --body-text-color: #fff;
  --light-grey: #cccccc;
  --dark-grey: #797979;
  --very-dark-grey: #414141;
  --serif-font-family: "Playfair Display", serif;
  --sans-serif-font-family: "Source Sans Pro", sans-serif;
  --light-font-weight: 300;
  --medium-font-weight: 400;
  --strong-font-weight: 600;
}
