---
  layout: "page-hero-fixed.njk"
  title: "Global Work | Seshadri Iyengar"
  heroType: "image"
  heroText: "Global Work"
  heroDesk: "url('https://res.cloudinary.com/driyengar/image/upload/v1629273823/banner-global-work-desk_yemlpk.webp')"
  heroTab: "url('https://res.cloudinary.com/driyengar/image/upload/v1629273822/banner-global-work-ipad_oeu4gj.webp')"
  heroMob: "url('https://res.cloudinary.com/driyengar/image/upload/v1629273822/banner-global-work-mob_vdz9ni.webp')"
  carousels: true
  modals: true
---

<div class="content slanted-div default-bg right-facing">
  <div class="multi-row-section container">
    <h1 class="full-width">
      Projects and Workshops in UK with Srishti Dance Creations
    </h1>
    <p class="full-width">
      2004 to 2011 saw a wide range of productions, the subjects and themes
      being very unique and from diverse fields such as… football, Love, London
      business life, Venus the planet, Romeo & Juliet, chess and human relations
      etc.
    </p>
    <p class="full-width">
      <div class="fancy-link open-modal">
        <b>List of Workshops & Performances in the UK</b>
      </div>
    </p>
  </div>
  <div class="modal--container" id="uk">
    <div class="modal--close"><i class="fas fa-times"></i></div>
    <h2 class="modal--title-box">Workshops & Performances in the UK</h2>
    <div class="modal--content">
      <ul>
        <li>
          <h3>Love Is In The Air, 2011</h3>
          <p>
            Using a male-dominated cast, Love is in the Air tackles the issue of
            gangs in the UK whilst celebrating the loyalty and solidarity shared
            by friendship groups, often misconstrued as gangs.
          </p>
        </li>
        <li>
          <h3>These Are A Few Of My Favourite Things, 2010</h3>
          <p>
            These Are a Few of My Favourite Things is a glittering selection of
            previous works
            <br />
            Kadala ... Is it love? (from Mirage, 2006) 30 minutes
            <br />
            Bend It ... (from Play Ball, 2008) 20 minutes
            <br />
            QUICK! (2006) 20 minutes
          </p>
        </li>
        <li>
          <h3>My Stamping Ground, 2009</h3>
          <p>
            My Stamping Ground is a fresh take on a classic story. Be it
            Shakespeare's Romeo and Juliet, Broadway's West Side Story or
            Bollywood's Josh, the tension of forbidden love has always caused
            thrill and heartbreak throughout the ages. This is the story of a
            torrid love affair amidst feuding gangs.
          </p>
        </li>
        <li>
          <h3>Bend It ... Aerial, 2008</h3>
          <p>
            A mind-blowing collision between football and Bharatanatyam brings
            "the beautiful game" out of the theatre to its natural habitat, the
            outdoors.
          </p>
        </li>
        <li>
          <h3>Play Ball – Bend it, Chemistry, Quick, 2008</h3>
          <p>
            This work is a triple bill of short Bharatanatyam dance pieces. This
            work with live music shows off "what the lads do" when at play, when
            in love and when at work.
          </p>
        </li>
        <li>
          <h3>Quiet Please, 2007</h3>
          <p>
            The work weaves a romantic love triangle set in India around the
            hurly burly of the manic London business world that is driven by
            aggression and competition.
          </p>
        </li>
        <li>
          <h3>Mirage - Kadala & Checkers, 2006</h3>
          <p>
            Kadala ... Is it love? This work, portrays a woman in love and
            Checkers – a Human Chess Board.
          </p>
        </li>
        <li>
          <h3>Women are from Venus – Shukra, 2005</h3>
          <p>
            Shukra is an abstract work that celebrates the planet Venus within
            the Hindu aesthetic.
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="multi-row-section container-flkty pad-top">
    <div class="flick-carousel standard no-caption is-flkty-hidden">
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629346956/quick_trafalgar_squar_ohvof9.webp"
            alt="Performances and Workshops in UK"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629346956/UK_3_w4f10c.webp"
            alt="Performances and Workshops in UK"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629346956/UK_2_bwenaj.webp"
            alt="Performances and Workshops in UK"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629346956/UK_1_ly9syf.webp"
            alt="Performances and Workshops in UK"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629346955/new5_zsg4ky.webp"
            alt="Performances and Workshops in UK"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629346955/my_stamping_ground_2_uiitbf.webp"
            alt="Performances and Workshops in UK"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629346955/new6_a1blon.webp"
            alt="Performances and Workshops in UK"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629346955/quick_2_zxdhlq.webp"
            alt="Performances and Workshops in UK"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629346955/new8_oo5b3m.webp"
            alt="Performances and Workshops in UK"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629346955/bend_it_aerial_raiffr.webp"
            alt="Performances and Workshops in UK"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629346955/bendit_aerial_canary_wharf__ozkjlp.webp"
            alt="Performances and Workshops in UK"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629346955/new3_gx1w9r.webp"
            alt="Performances and Workshops in UK"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629346954/10398590_62609339361_4802413_n_z8yylv.webp"
            alt="Performances and Workshops in UK"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629346954/537266_10151323945224362_1254187794_n_vasjqq.webp"
            alt="Performances and Workshops in UK"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629346955/new2_dpvwad.webp"
            alt="Performances and Workshops in UK"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629346954/3350_94678091096_5242217_n_wyvzsl.webp"
            alt="Performances and Workshops in UK"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629346954/3350_94675811096_969139_n_epk42n.webp"
            alt="Performances and Workshops in UK"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629346954/bend_it_2008_uk_hzl1cb.webp"
            alt="Performances and Workshops in UK"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629346954/3350_94675806096_5233210_n_xqiibe.webp"
            alt="Performances and Workshops in UK"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629346954/205176_10150161672864362_1686086_n_phpu4e.webp"
            alt="Performances and Workshops in UK"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629346954/3350_94639536096_4325795_n_wkl8cf.webp"
            alt="Performances and Workshops in UK"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629346953/3_iqtdak.webp"
            alt="Performances and Workshops in UK"
            class="contain"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="multi-row-section container space-above">
    <h1 class="full-width">Performances and Workshops in USA</h1>
    <p class="full-width">
      They could range from Yoga, Adavu training, abhinaya, technique classes,
      fitness and body conditioning workshops etc.
    </p>
    <p class="full-width">
      Body Kinetics – working on the Body, Breath, Mind and Self; integrating
      them into a capsule, an exercise routine.
    </p>
    <p class="full-width">
      Imparting specific items to students from dance repertory or teaching a
      margam.
    </p>
    <p class="full-width">
      Choreographing, presenting and performing in specific commissioned dance
      productions which could be theme based, abstract, mythological and/or
      historical.
    </p>
    <p class="full-width">Bharatnatyam Solo performances.</p>
    <p class="full-width">
      <div class="fancy-link open-modal">
        <b>List of Workshops & Performances in USA</b>
      </div>
    </p>
  </div>
  <div class="modal--container" id="usa">
    <div class="modal--close"><i class="fas fa-times"></i></div>
    <h2 class="modal--title-box">Workshops & Performances in USA</h2>
    <div class="modal--content">
      <ul>
        <li>
          <h3>Love Is In The Air, 2011</h3>
          <p>
            Using a male-dominated cast, Love is in the Air tackles the issue of
            gangs in the UK whilst celebrating the loyalty and solidarity shared
            by friendship groups, often misconstrued as gangs.
          </p>
        </li>
        <li>
          <h3>These Are A Few Of My Favourite Things, 2010</h3>
          <p>
            These Are a Few of My Favourite Things is a glittering selection of
            previous works
            <br />
            Kadala ... Is it love? (from Mirage, 2006) 30 minutes
            <br />
            Bend It ... (from Play Ball, 2008) 20 minutes
            <br />
            QUICK! (2006) 20 minutes
          </p>
        </li>
        <li>
          <h3>My Stamping Ground, 2009</h3>
          <p>
            My Stamping Ground is a fresh take on a classic story. Be it
            Shakespeare's Romeo and Juliet, Broadway's West Side Story or
            Bollywood's Josh, the tension of forbidden love has always caused
            thrill and heartbreak throughout the ages. This is the story of a
            torrid love affair amidst feuding gangs.
          </p>
        </li>
        <li>
          <h3>Bend It ... Aerial, 2008</h3>
          <p>
            A mind-blowing collision between football and Bharatanatyam brings
            "the beautiful game" out of the theatre to its natural habitat, the
            outdoors.
          </p>
        </li>
        <li>
          <h3>Play Ball – Bend it, Chemistry, Quick, 2008</h3>
          <p>
            This work is a triple bill of short Bharatanatyam dance pieces. This
            work with live music shows off "what the lads do" when at play, when
            in love and when at work.
          </p>
        </li>
        <li>
          <h3>Quiet Please, 2007</h3>
          <p>
            The work weaves a romantic love triangle set in India around the
            hurly burly of the manic London business world that is driven by
            aggression and competition.
          </p>
        </li>
        <li>
          <h3>Mirage - Kadala & Checkers, 2006</h3>
          <p>
            Kadala ... Is it love? This work, portrays a woman in love and
            Checkers – a Human Chess Board.
          </p>
        </li>
        <li>
          <h3>Women are from Venus – Shukra, 2005</h3>
          <p>
            Shukra is an abstract work that celebrates the planet Venus within
            the Hindu aesthetic.
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="multi-row-section container-flkty pad-top">
    <div class="flick-carousel standard no-caption is-flkty-hidden">
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629275468/USA-12_pygygk.webp"
            alt="Performances and Workshops in USA"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629274619/USA_10_bcj4on.webp"
            alt="Performances and Workshops in USA"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629274618/USA_9_qfyfsy.webp"
            alt="Performances and Workshops in USA"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629274619/USA_16_ddm5bs.webp"
            alt="Performances and Workshops in USA"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629274618/USA_7_btexv3.webp"
            alt="Performances and Workshops in USA"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629274619/USA_15_qja2sq.webp"
            alt="Performances and Workshops in USA"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629274618/USA_4_k0khng.webp"
            alt="Performances and Workshops in USA"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629274618/USA_2_auk5o5.webp"
            alt="Performances and Workshops in USA"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629274618/USA_3_oqttwk.webp"
            alt="Performances and Workshops in USA"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629274618/USA_6_jsfnk2.webp"
            alt="Performances and Workshops in USA"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629274619/USA_11_prdnmu.webp"
            alt="Performances and Workshops in USA"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629274618/IMG-20160808-WA0015_e0ifud.webp"
            alt="Performances and Workshops in USA"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629274618/USA_1_pxz29g.webp"
            alt="Performances and Workshops in USA"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629274618/IMG-20160724-WA0022_gyr2xh.webp"
            alt="Performances and Workshops in USA"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629274617/IMG_20150823_182900_ffk40g.webp"
            alt="Performances and Workshops in USA"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629274617/IMG_20150909_073204_lyq0bh.webp"
            alt="Performances and Workshops in USA"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629274617/IMG_20150830_155400_aibens.webp"
            alt="Performances and Workshops in USA"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629274617/IMG_20150803_142118_pzknj5.webp"
            alt="Performances and Workshops in USA"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629274617/IMG_20150720_205840_wnbpdu.webp"
            alt="Performances and Workshops in USA"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629274617/IMG_20150718_200935_dyqt0w.webp"
            alt="Performances and Workshops in USA"
            class="contain"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="multi-row-section container space-above">
    <h1 class="full-width">Projects and Workshops in Canada</h1>
    <p class="full-width">
      <div class="fancy-link open-modal">
        <b>List of Workshops & Performances in Canada</b>
      </div>
    </p>
  </div>
  <div class="modal--container" id="canada">
    <div class="modal--close"><i class="fas fa-times"></i></div>
    <h2 class="modal--title-box">Workshops & Performances in Canada</h2>
    <div class="modal--content">
      <ul>
        <li>
          <h3>Love Is In The Air, 2011</h3>
          <p>
            Using a male-dominated cast, Love is in the Air tackles the issue of
            gangs in the UK whilst celebrating the loyalty and solidarity shared
            by friendship groups, often misconstrued as gangs.
          </p>
        </li>
        <li>
          <h3>These Are A Few Of My Favourite Things, 2010</h3>
          <p>
            These Are a Few of My Favourite Things is a glittering selection of
            previous works
            <br />
            Kadala ... Is it love? (from Mirage, 2006) 30 minutes
            <br />
            Bend It ... (from Play Ball, 2008) 20 minutes
            <br />
            QUICK! (2006) 20 minutes
          </p>
        </li>
        <li>
          <h3>My Stamping Ground, 2009</h3>
          <p>
            My Stamping Ground is a fresh take on a classic story. Be it
            Shakespeare's Romeo and Juliet, Broadway's West Side Story or
            Bollywood's Josh, the tension of forbidden love has always caused
            thrill and heartbreak throughout the ages. This is the story of a
            torrid love affair amidst feuding gangs.
          </p>
        </li>
        <li>
          <h3>Bend It ... Aerial, 2008</h3>
          <p>
            A mind-blowing collision between football and Bharatanatyam brings
            "the beautiful game" out of the theatre to its natural habitat, the
            outdoors.
          </p>
        </li>
        <li>
          <h3>Play Ball – Bend it, Chemistry, Quick, 2008</h3>
          <p>
            This work is a triple bill of short Bharatanatyam dance pieces. This
            work with live music shows off "what the lads do" when at play, when
            in love and when at work.
          </p>
        </li>
        <li>
          <h3>Quiet Please, 2007</h3>
          <p>
            The work weaves a romantic love triangle set in India around the
            hurly burly of the manic London business world that is driven by
            aggression and competition.
          </p>
        </li>
        <li>
          <h3>Mirage - Kadala & Checkers, 2006</h3>
          <p>
            Kadala ... Is it love? This work, portrays a woman in love and
            Checkers – a Human Chess Board.
          </p>
        </li>
        <li>
          <h3>Women are from Venus – Shukra, 2005</h3>
          <p>
            Shukra is an abstract work that celebrates the planet Venus within
            the Hindu aesthetic.
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="multi-row-section container-flkty pad-top">
    <div class="flick-carousel standard no-caption is-flkty-hidden">
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629348563/CANADA_11_jvmvyl.webp"
            alt="Performances and Workshops in Canada"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629348564/White_Craft_Workshop_Instagram_Post_fz0b8c.webp"
            alt="Performances and Workshops in Canada"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629348564/The_Times_Kuwait_Article_gzwjbq.webp"
            alt="Performances and Workshops in Canada"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629348563/CANADA_5_e49jp9.webp"
            alt="Performances and Workshops in Canada"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629348563/Entire_Group_at_Embassy_in_Kuwait_with_Mr_and_Mrs_Mehta_qsmgg0.webp"
            alt="Performances and Workshops in Canada"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629348563/ganga_htcito.webp"
            alt="Performances and Workshops in Canada"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629348563/gayatri_hyderabad_p9wcvo.webp"
            alt="Performances and Workshops in Canada"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629348563/ganga_1_xytbq5.webp"
            alt="Performances and Workshops in Canada"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629348562/CANADA_10_u8rehr.webp"
            alt="Performances and Workshops in Canada"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629348563/149141_10152623654965123_1214880771_n_qvmpua.webp"
            alt="Performances and Workshops in Canada"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629348562/542721_10152623664590123_2015388335_n_uzymgh.webp"
            alt="Performances and Workshops in Canada"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629348562/CANADA_9_oib6bw.webp"
            alt="Performances and Workshops in Canada"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629348562/1913951_161348471096_344521_n_quzapk.webp"
            alt="Performances and Workshops in Canada"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629348562/1913951_161348456096_2027674_n_lwrhlc.webp"
            alt="Performances and Workshops in Canada"
            class="contain"
          />
        </div>
      </div>
    </div>
  </div>
</div>
