---
layout: home-hero-video.njk
heroVideo: "https://res.cloudinary.com/driyengar/video/upload/v1628559729/homepage-banner-right-and-down_fdjtw6.webm"
title: "Dr Seshadri Iyengar"
---

<div class="content slanted-div section1 right-facing">
  <div class="section-content">
    <div class="section-content--text">
      <h1>Iyengar Center for Fine Arts</h1>
      <p>
        ICFA reflects Dr. Iyengar’s interest and journey into arts and his
        holistic approach to life.
      </p>
      <a href="#" class="link">
        <div class="gg-chevron-double-right-o"></div>
        Read More
      </a>
    </div>
    <div class="section-content--img rounded">
      <img
        src="https://res.cloudinary.com/driyengar/image/upload/v1628712410/website_images/icfa_logo.png"
        alt="ICFA logo"
      />
    </div>
  </div>
</div>
<div class="content slanted-div section2 left-facing">
  <div class="section-content">
    <div class="section-content--img spotlight">
      <img
        src="https://res.cloudinary.com/driyengar/image/upload/v1628712967/homepage-profile-section_uxkeed.jpg"
        alt="Seshadri Iyengar seated in a dance pose"
      />
    </div>
    <div class="section-content--text">
      <h1>Profile</h1>
      <p>He strongly believes that dance is beyond "form" and "gender".</p>
      <a href="#" class="link">
        <div class="gg-chevron-double-right-o"></div>
        Read More
      </a>
    </div>
  </div>
</div>
<div class="content slanted-div section3 right-facing">
  <div class="section-content">
    <div class="section-content--text">
      <h1>Training</h1>
      <p>
        On-going classes are held in Bharatnatyam, Yoga and Body Kinetics at
        ICFA.
        <br />
        Holistic Approach - Introduction to the technique and grammar of dance,
        Yoga asana - awareness towards the body, breath etc.
      </p>
      <a href="#" class="link">
        <div class="gg-chevron-double-right-o"></div>
        Read More
      </a>
    </div>
    <div class="section-content--img spotlight">
      <img
        src="https://res.cloudinary.com/driyengar/image/upload/v1628721246/homepage-training-section_c4a5kd.jpg"
        alt="Students from the training class at ICFA"
      />
    </div>
  </div>
</div>
<div class="content slanted-div section4 left-facing">
  <div class="section-content">
    <div class="section-content--img spotlight">
      <img
        src="https://res.cloudinary.com/driyengar/image/upload/v1628723006/homepage-workshop-section_o9hjct.jpg"
        alt="Seshadri Iyengar conducting a dance workshop"
      />
    </div>
    <div class="section-content--text">
      <h1>Workshops</h1>
      <p>
        He is known for his spontaneous innovative ability to choreograph
        abstract and content-based works of both contemporary and traditional
        origin.
      </p>
      <a href="#" class="link">
        <div class="gg-chevron-double-right-o"></div>
        Read More
      </a>
    </div>
  </div>
</div>
<div class="content slanted-div default-bg right-facing">
  <div class="multi-column-section container pack-tight">
    <div class="img-wrapper rounded">
      <img
        src="https://res.cloudinary.com/driyengar/image/upload/v1628741548/home-bottom-section2_lbafan.jpg"
        alt="Seshadri Iyengar in a dance pose"
      />
    </div>
    <div class="img-wrapper rounded">
      <img
        src="https://res.cloudinary.com/driyengar/image/upload/v1628741548/home-bottom-section1_lhtkws.jpg"
        alt="Seshadri Iyengar in a dance pose"
      />
    </div>
  </div>
  <div class="multi-column-section container pack-tight space-above">
    <div class="video-wrapper w45">
      {% youtube '71hV0pqesxo' %}
      <div class="caption">
        Varnam - Karaharapriya - Adi<br />
        Festival - Bangalore - Jan 6th 2019
      </div>
    </div>
    <div class="video-wrapper w45">
      {% youtube 'aVQm9SoXxKE' %}
      <div class="caption">
        Raga - Kapi, Tala Adi, Purandaradasa composition<br />
        Jan 6th 2019, Bangalore
      </div>
    </div>
  </div>
</div>
