---
layout: home-hero-video.njk
heroVideo: "https://res.cloudinary.com/driyengar/video/upload/v1628559729/homepage-banner-right-and-down_fdjtw6.webm"
title: "Dr Seshadri Iyengar"
---

<div class="content slanted-div section1 right-facing">
  <div class="section-content">
    <div class="section-content--text">
      <h1>Iyengar Center for Fine Arts</h1>
      <p>
        ICFA reflects Dr. Iyengar’s interest and journey into arts and his
        holistic approach to life.
      </p>
      <a href="#" class="link">
        <div class="gg-chevron-double-right-o"></div>
        Read More
      </a>
    </div>
    <div class="section-content--img rounded">
      <img
        src="https://res.cloudinary.com/driyengar/image/upload/v1628712410/website_images/icfa_logo.png"
        alt="ICFA logo"
      />
    </div>
  </div>
</div>
<div class="content slanted-div section2 left-facing">
  <div class="section-content">
    <div class="section-content--img spotlight">
      <img
        src="https://res.cloudinary.com/driyengar/image/upload/v1628712967/homepage-profile-section_uxkeed.jpg"
        alt="Seshadri Iyengar seated in a dance pose"
      />
    </div>
    <div class="section-content--text">
      <h1>Profile</h1>
      <p>He strongly believes that dance is beyond "form" and "gender".</p>
      <a href="#" class="link">
        <div class="gg-chevron-double-right-o"></div>
        Read More
      </a>
    </div>
  </div>
</div>
<div class="content slanted-div section3 right-facing">
  <div class="section-content">
    <div class="section-content--text">
      <h1>Training</h1>
      <p>
        On-going classes are held in Bharatnatyam, Yoga and Body Kinetics at
        ICFA.
        <br />
        Holistic Approach - Introduction to the technique and grammar of dance,
        Yoga asana - awareness towards the body, breath etc.
      </p>
      <a href="#" class="link">
        <div class="gg-chevron-double-right-o"></div>
        Read More
      </a>
    </div>
    <div class="section-content--img spotlight">
      <img
        src="https://res.cloudinary.com/driyengar/image/upload/v1628721246/homepage-training-section_c4a5kd.jpg"
        alt="Students from the training class at ICFA"
      />
    </div>
  </div>
</div>
<div class="content slanted-div section4 left-facing">
  <div class="section-content">
    <div class="section-content--img spotlight">
      <img
        src="https://res.cloudinary.com/driyengar/image/upload/v1628723006/homepage-workshop-section_o9hjct.jpg"
        alt="Seshadri Iyengar conducting a dance workshop"
      />
    </div>
    <div class="section-content--text">
      <h1>Workshops</h1>
      <p>
        He is known for his spontaneous innovative ability to choreograph
        abstract and content-based works of both contemporary and traditional
        origin.
      </p>
      <a href="#" class="link">
        <div class="gg-chevron-double-right-o"></div>
        Read More
      </a>
    </div>
  </div>
</div>
<div class="content slanted-div section5 right-facing">
  <div class="section-content">
    <p>
      Voluptas aut veniam deleniti tenetur amet libero aliquid modi iusto
      ducimus, soluta obcaecati inventore atque tempore optio rerum suscipit
      nobis eius adipisci doloribus est eveniet. Veritatis soluta laudantium
      alias inventore libero voluptas iure itaque nulla! Qui esse sapiente neque
      earum tempore laudantium explicabo, recusandae ullam at facilis sit
      aliquam a excepturi voluptate sint minus animi. Autem neque rem libero
      aperiam atque. Numquam assumenda dolor natus.
    </p>
    <h2>H3 Title</h2>
  </div>
</div>
