---
layout: home-hero-video.njk
heroType: "video"
heroVideo: "https://res.cloudinary.com/driyengar/video/upload/v1628559729/homepage-banner-right-and-down_fdjtw6.webm"
title: "Dr Seshadri Iyengar"
---

<div class="content slanted-div section1 right-facing">
  <div class="section-content">
    <div class="section-content--text">
      <h1>Iyengar Center for Fine Arts</h1>
      <p>
        ICFA reflects Dr. Iyengar’s interest and journey into arts and his
        holistic approach to life.
      </p>
      <p>
        <a href="/icfa" class="fancy-link">
          <b>Read More</b>
        </a>
      </p>
    </div>
    <div class="section-content--img spotlight">
      <img
        src="https://res.cloudinary.com/driyengar/image/upload/v1628862134/homepage-ICFA-section_nuwemg.jpg"
        alt="ICFA logo"
      />
    </div>
  </div>
</div>
<div class="content slanted-div section2 left-facing">
  <div class="section-content">
    <div class="section-content--img spotlight">
      <img
        src="https://res.cloudinary.com/driyengar/image/upload/v1628862134/homepage-profile-section_pghwpq.jpg"
        alt="Seshadri Iyengar seated in a dance pose"
      />
    </div>
    <div class="section-content--text">
      <h1>Profile</h1>
      <p>He strongly believes that dance is beyond "form" and "gender".</p>
      <p>
        <a href="/profile" class="fancy-link">
          <b>Read More</b>
        </a>
      </p>
    </div>
  </div>
</div>
<div class="content slanted-div section3 right-facing">
  <div class="section-content">
    <div class="section-content--text">
      <h1>Training</h1>
      <p>
        On-going classes are held in Bharatnatyam, Yoga and Body Kinetics at
        ICFA.
        <br />
        Holistic Approach - Introduction to the technique and grammar of dance,
        Yoga asana - awareness towards the body, breath etc.
      </p>
      <p>
        <a href="#" class="fancy-link">
          <b>Read More</b>
        </a>
      </p>
    </div>
    <div class="section-content--img spotlight">
      <img
        src="https://res.cloudinary.com/driyengar/image/upload/v1628862682/STUDENTS-TRAINING_pwra13.png"
        alt="Students from the training class at ICFA"
      />
    </div>
  </div>
</div>
<div class="content slanted-div section4 left-facing">
  <div class="section-content">
    <div class="section-content--img spotlight">
      <img
        src="https://res.cloudinary.com/driyengar/image/upload/v1628862682/WORKSHOP-Collage_hqthea.png"
        alt="Seshadri Iyengar conducting a dance workshop"
      />
    </div>
    <div class="section-content--text">
      <h1>Workshops</h1>
      <p>
        He is known for his spontaneous innovative ability to choreograph
        abstract and content-based works of both contemporary and traditional
        origin.
      </p>
      <p>
        <a href="#" class="fancy-link">
          <b>Read More</b>
        </a>
      </p>
    </div>
  </div>
</div>
<div class="content slanted-div default-bg right-facing">
  <div class="multi-column-section container pack-tight">
    <div class="img-wrapper rounded">
      <img
        src="https://res.cloudinary.com/driyengar/image/upload/v1628741548/home-bottom-section2_lbafan.jpg"
        alt="Seshadri Iyengar in a dance pose"
      />
    </div>
    <div class="img-wrapper rounded">
      <img
        src="https://res.cloudinary.com/driyengar/image/upload/v1628741548/home-bottom-section1_lhtkws.jpg"
        alt="Seshadri Iyengar in a dance pose"
      />
    </div>
  </div>
  <div class="multi-column-section container pack-tight space-above">
    <div class="video-wrapper w45">
      {% youtube 'AiB01WjIyAw' %}
      <div class="caption">Varnam - Karaharapriya - Aadi Artist</div>
    </div>
    <div class="video-wrapper w45">
      {% youtube 'G-5gmnPc0ng' %}
      <div class="caption">Pushpanjali, Raaga - Charukeshi</div>
    </div>
  </div>
</div>
