---
layout: home.njk
heroSlider:
  slide1:
    - "url('https://res.cloudinary.com/nrityagram/image/upload/v1595320104/space_desk_pf6xpx.jpg')"
    - "url('https://res.cloudinary.com/nrityagram/image/upload/v1589047081/ipad/space_yvvwsu.jpg')"
    - "url('https://res.cloudinary.com/nrityagram/image/upload/v1576171495/mobile/space_eyaqcj.jpg')"
  slide2:
    - "url('https://res.cloudinary.com/nrityagram/image/upload/v1580617696/dance-professionals-desk_q1mnsc.jpg')"
    - "url('https://res.cloudinary.com/nrityagram/image/upload/v1589039867/ipad/dance-professionals_kximrn.jpg')"
    - "url('https://res.cloudinary.com/nrityagram/image/upload/v1580617695/mobile/dance-professionals-mob_jwkl0j.jpg')"
  slide3:
    - "url('https://res.cloudinary.com/nrityagram/image/upload/v1569697662/bijayini_d44uhh.jpg')"
    - "url('https://res.cloudinary.com/nrityagram/image/upload/v1589036580/ipad/Bijayini-Sathpathy_eqcdcp.jpg')"
    - "url('https://res.cloudinary.com/nrityagram/image/upload/v1576166191/mobile/Bijayini-Sathpathy_tdfb4l.jpg')"
title: Home
---

<div class="content">
  <h1>H1 Title</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam ut quod,
    aspernatur deleniti quae nostrum eum recusandae. Non a ullam quisquam modi
    odit aut nulla id harum, maiores pariatur praesentium.
  </p>
  <h1>Vision</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam obcaecati
    officiis optio fuga aspernatur? Fugiat nisi dolore sequi unde ipsa rem
    delectus necessitatibus eligendi repudiandae. Voluptatibus blanditiis veniam
    nam facere.
  </p>
  <h2>H2 Title - Mission</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate
    perferendis consectetur nam delectus reiciendis at officia sequi similique!
    Et eum hic amet perferendis dicta consequatur fugiat quo sequi corporis
    nostrum.
  </p>
  <h3>H3 Title</h3>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius illo omnis
    reprehenderit iure possimus sint totam autem voluptates, voluptate optio
    error vero mollitia est fugit! Optio aspernatur facere veritatis tenetur
    repellendus deleniti officia deserunt sequi quibusdam ex sed animi minima
    officiis, dicta dolores molestiae aut sit nemo autem harum ipsam. Amet
    veritatis molestias itaque vitae. Voluptas aut veniam deleniti tenetur amet
    libero aliquid modi iusto ducimus, soluta obcaecati inventore atque tempore
    optio rerum suscipit nobis eius adipisci doloribus est eveniet. Veritatis
    soluta laudantium alias inventore libero voluptas iure itaque nulla! Qui
    esse sapiente neque earum tempore laudantium explicabo, recusandae ullam at
    facilis sit aliquam a excepturi voluptate sint minus animi. Autem neque rem
    libero aperiam atque. Numquam assumenda dolor natus.
  </p>
  {{ content | safe }}
</div>
