---
  layout: "page-hero-fixed.njk"
  title: "Page Hero"
  heroText: "Page Hero"
  heroDesk: "url('https://res.cloudinary.com/nrityagram/image/upload/v1595320104/space_desk_pf6xpx.jpg')"
  heroTab: "url('https://res.cloudinary.com/nrityagram/image/upload/v1589047081/ipad/space_yvvwsu.jpg')"
  heroMob: "url('https://res.cloudinary.com/nrityagram/image/upload/v1576171495/mobile/space_eyaqcj.jpg')"
  heroDeskCredit: "Karthik"
  heroTabCredit: "Sonia"
  heroMobCredit: "Sridhar"
  carousels: false
---

<div class="content">
  <h1>Page Hero</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam ut quod,
    aspernatur deleniti quae nostrum eum recusandae. Non a ullam quisquam modi
    odit aut nulla id harum, maiores pariatur praesentium.
  </p>
  <h2>H2 Title</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, accusamus
    aspernatur iusto itaque rem accusantium dignissimos iste odit doloremque eum
    exercitationem quasi fuga voluptates perspiciatis tempora reprehenderit
    quisquam ipsam? Mollitia, soluta exercitationem sapiente, ducimus ad aliquam
    doloribus rerum rem porro, pariatur deserunt aspernatur perferendis ipsam
    necessitatibus? Ipsum repudiandae ipsa ea!
  </p>
  <h3>H3 Title</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint tenetur
    doloribus unde incidunt consequuntur, laudantium obcaecati rem corrupti
    neque labore!
  </p>
  <p>
    <div class="video-wrapper">{% youtube 'indtq6FIkBY' %}</div>
  </p>
  <h2>H2 Title</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident iusto
    pariatur sunt nulla! Repudiandae quis sit, incidunt harum animi voluptas
    ipsam nobis numquam omnis ullam quod, veritatis facilis minus itaque
    excepturi. Laborum alias nam sapiente veniam voluptatem amet reiciendis rem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit alias
    mollitia est ducimus ab possimus aliquid debitis tempora non incidunt illo
    ratione eaque, perferendis porro, nesciunt architecto obcaecati ex placeat
    saepe quas odio vitae officiis quasi quia? Accusantium optio adipisci nemo?
    Minus recusandae cumque quaerat dolorem ullam soluta fugit eaque, omnis
    labore iste atque a voluptate excepturi quos modi ipsam?
  </p>
</div>
