---
  layout: "page-hero-fixed.njk"
  title: "Page Carousel"
  heroText: "Page Carousel"
  heroDesk: "url('https://res.cloudinary.com/nrityagram/image/upload/v1580621106/press-desk_l0unjv.jpg')"
  heroTab: "url('https://res.cloudinary.com/nrityagram/image/upload/v1600100823/ipad/press_ipad_jux6kx.jpg')"
  heroMob: "url('https://res.cloudinary.com/nrityagram/image/upload/v1580621105/mobile/press-mob_lynac6.jpg')"
  heroDeskCredit: "Karthik"
  heroTabCredit: "Sonia"
  heroMobCredit: "Sridhar"
  carousels: true
---

<div class="content">
  <h1 class="center">Page Hero</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur,
    <a href="#ahuti">adipisicing elit</a>. Quibusdam ut quod, aspernatur
    deleniti quae nostrum eum recusandae. Non a ullam quisquam modi odit aut
    nulla id harum, maiores pariatur praesentium.
  </p>
  <h2 class="center">H2 Title</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, accusamus
    aspernatur iusto itaque rem accusantium dignissimos iste odit doloremque eum
    exercitationem quasi fuga voluptates perspiciatis tempora reprehenderit
    quisquam ipsam? Mollitia, soluta exercitationem sapiente, ducimus ad aliquam
    doloribus rerum rem porro, pariatur deserunt aspernatur perferendis ipsam
    necessitatibus? Ipsum repudiandae ipsa ea!
  </p>
  <h3 class="center">H3 Title</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint tenetur
    doloribus unde incidunt consequuntur, laudantium obcaecati rem corrupti
    neque labore!
  </p>

  <div id="samhara"></div>
  <div class="owl-carousel owl-theme">
    <div class="item">
      <picture>
        <source
          srcset="
            https://res.cloudinary.com/nrityagram/image/upload/v1580734503/samhara_1_qiiqm1.jpg
          "
          media="(min-width: 1400px)"
        />
        <source
          srcset="
            https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580734503/samhara_1_qiiqm1.jpg
          "
          media="(min-width: 1000px)"
        />
        <img
          src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580734503/samhara_1_qiiqm1.jpg"
          alt="samhara 1"
          height="auto"
        />
      </picture>
      <div class="photo-credit">Credit - Karthik Venkatraman</div>
    </div>

    <div class="item">
      <picture>
        <source
          srcset="
            https://res.cloudinary.com/nrityagram/image/upload/v1595100210/2_samhara_bckhp5.jpg
          "
          media="(min-width: 1400px)"
        />
        <source
          srcset="
            https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1595100210/2_samhara_bckhp5.jpg
          "
          media="(min-width: 1000px)"
        />
        <img
          src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1595100210/2_samhara_bckhp5.jpg"
          alt="samhara 2"
          height="auto"
        />
      </picture>
      <div class="photo-credit">Credit - Sonia Manchanda</div>
    </div>

    <div class="item">
      <picture>
        <source
          srcset="
            https://res.cloudinary.com/nrityagram/image/upload/v1580734503/samhara_3_c6uxo2.jpg
          "
          media="(min-width: 1400px)"
        />
        <source
          srcset="
            https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580734503/samhara_3_c6uxo2.jpg
          "
          media="(min-width: 1000px)"
        />
        <img
          src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580734503/samhara_3_c6uxo2.jpg"
          alt="samhara 3"
          height="auto"
        />
      </picture>
      <div class="photo-credit">Credit - Nan Melville</div>
    </div>

    <div class="item">
      <picture>
        <source
          srcset="
            https://res.cloudinary.com/nrityagram/image/upload/v1580734503/samhara_4_vs24g4.jpg
          "
          media="(min-width: 1400px)"
        />
        <source
          srcset="
            https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580734503/samhara_4_vs24g4.jpg
          "
          media="(min-width: 1000px)"
        />
        <img
          src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580734503/samhara_4_vs24g4.jpg"
          alt="samhara 4"
          height="auto"
        />
      </picture>
      <div class="photo-credit">Credit - Karthik Venkatraman</div>
    </div>

    <div class="item">
      <picture>
        <source
          srcset="
            https://res.cloudinary.com/nrityagram/image/upload/v1595100210/5_samhara_thl80a.jpg
          "
          media="(min-width: 1400px)"
        />
        <source
          srcset="
            https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1595100210/5_samhara_thl80a.jpg
          "
          media="(min-width: 1000px)"
        />
        <img
          src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1595100210/5_samhara_thl80a.jpg"
          alt="samhara 5"
          height="auto"
        />
      </picture>
      <div class="photo-credit">Credit - Nan Melville</div>
    </div>
  </div>

  <h2 class="center">H2 Title</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident iusto
    pariatur sunt nulla! Repudiandae quis sit, incidunt harum animi voluptas
    ipsam nobis numquam omnis ullam quod, veritatis facilis minus itaque
    excepturi. Laborum alias nam sapiente veniam voluptatem amet reiciendis rem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit alias
    mollitia est ducimus ab possimus aliquid debitis tempora non incidunt illo
    ratione eaque, perferendis porro, nesciunt architecto obcaecati ex placeat
    saepe quas odio vitae officiis quasi quia? Accusantium optio adipisci nemo?
    Minus recusandae cumque quaerat dolorem ullam soluta fugit eaque, omnis
    labore iste atque a voluptate excepturi quos modi ipsam?
  </p>

  <div id="ahuti"></div>
  <div class="owl-carousel owl-theme">
    <div class="item">
      <picture>
        <source
          srcset="
            https://res.cloudinary.com/nrityagram/image/upload/v1580736288/ahuti_1_lnyatl.jpg
          "
          media="(min-width: 1400px)"
        />
        <source
          srcset="
            https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580736288/ahuti_1_lnyatl.jpg
          "
          media="(min-width: 1000px)"
        />
        <img
          src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580736288/ahuti_1_lnyatl.jpg"
          alt="ahuti 1"
          height="auto"
        />
      </picture>
      <div class="photo-credit">Credit - Karthik Venkatraman</div>
    </div>

    <div class="item">
      <picture>
        <source
          srcset="
            https://res.cloudinary.com/nrityagram/image/upload/v1580736290/ahuti_2_afexkv.jpg
          "
          media="(min-width: 1400px)"
        />
        <source
          srcset="
            https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580736290/ahuti_2_afexkv.jpg
          "
          media="(min-width: 1000px)"
        />
        <img
          src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580736290/ahuti_2_afexkv.jpg"
          alt="ahuti 2"
          height="auto"
        />
      </picture>
      <div class="photo-credit">Credit - Sonia Manchanda</div>
    </div>

    <div class="item">
      <picture>
        <source
          srcset="
            https://res.cloudinary.com/nrityagram/image/upload/v1580736289/ahuti_3_noblmt.jpg
          "
          media="(min-width: 1400px)"
        />
        <source
          srcset="
            https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1580736289/ahuti_3_noblmt.jpg
          "
          media="(min-width: 1000px)"
        />
        <img
          src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1580736289/ahuti_3_noblmt.jpg"
          alt="samhara 3"
          height="auto"
        />
      </picture>
      <div class="photo-credit">Credit - Nan Melville</div>
    </div>

    <div class="item">
      <picture>
        <source
          srcset="
            https://res.cloudinary.com/nrityagram/image/upload/v1595098474/2_Ahuti_jylqk7.jpg
          "
          media="(min-width: 1400px)"
        />
        <source
          srcset="
            https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1595098474/2_Ahuti_jylqk7.jpg
          "
          media="(min-width: 1000px)"
        />
        <img
          src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1595098474/2_Ahuti_jylqk7.jpg"
          alt="ahuti 4"
          height="auto"
        />
      </picture>
      <div class="photo-credit">Credit - Karthik Venkatraman</div>
    </div>

    <div class="item">
      <picture>
        <source
          srcset="
            https://res.cloudinary.com/nrityagram/image/upload/v1595098491/8_Ahuti_dzdbeo.jpg
          "
          media="(min-width: 1400px)"
        />
        <source
          srcset="
            https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_800/v1595098491/8_Ahuti_dzdbeo.jpg
          "
          media="(min-width: 1000px)"
        />
        <img
          src="https://res.cloudinary.com/nrityagram/image/upload/c_scale,w_480/v1595098491/8_Ahuti_dzdbeo.jpg"
          alt="ahuti 5"
          height="auto"
        />
      </picture>
      <div class="photo-credit">Credit - Nan Melville</div>
    </div>
  </div>
</div>
