---
layout: page-no-hero.njk
title: "Upcoming Events | Seshadri Iyengar"
carousels: true
modals: false
---

<div class="content slanted-div default-bg right-facing-bottom-only">
  <div class="multi-row-section container">
    <h1 class="full-width center">Upcoming Events</h1>
    <p class="full-width">
      <ul>
        <li>
          <h2>Pibare Rama Rasam</h2>
          <p class="full-width">
            Natyam by Dr Seshadri Iyengar, 6pm 12th August, 2021
            <br>
            <a href="https://www.youtube.com/watch?v=hQbkVkZGnLk" class="link underline" target="_blank">Live-stream Link</a>
            <div class="img-wrapper rounded half-width center">
              <img src="https://res.cloudinary.com/driyengar/image/upload/v1629510689/pibare-rama-rasam_fpq4d3.webp" alt="">
            </div>
          </p>
        </li>
      </ul>
    </p>
  </div>
  <div class="multi-row-section container space-above">
    <p class="full-width">
      <a href="/" class="fancy-link reverse">
        <b>Back to Home</b>
      </a>
    </p>
  </div>
</div>
