---
layout: page-no-hero.njk
title: "Web Trio Series | Seshadri Iyengar"
carousels: true
modals: false
---

<div class="content slanted-div default-bg right-facing-bottom-only">
  <div class="multi-row-section container">
    <h1 class="full-width center">Web Trio Series</h1>
    <p class="full-width">
      The pandemic of 2020 triggered the idea of taking the activities online.
      An impulsive thought gave birth to the trio concept and thus emerged the
      web trio series hosted by ICFA on Instagram. Keeping ICFA’s objective of
      promoting process driven activities in mind, several topics were coined.
      The uniqueness of this series was to present 3 artists share their
      individual journeys concerning a topic or to have one artist speak about
      the topic from 3 different perceptive. The series took to screen between
      13th May and 30th December, and a total of 34 episodes were presented
      live, one on each Wednesday between 7pm and 8pm IST.
    </p>
    <p class="full-width">
      A total of 80 artists have been presented through these series to date.
      The subjects were of a wide spectrum of disciplines and practises;
      Classical dance, Indian Heritage, Christmas, Hinduism, Innovative
      instruments, DJ, Philosophy, Literature, Choreography, Yoga, martial arts,
      Ayurveda, Ariel act, Photography, Gender in dance .. etc.
    </p>
    <p class="full-width">
      Some artists of repute to mention a few…
      <br />
      Lalitha Srinivasan, The Dhananjayans, Kanaka Srinivasan, Dr.
      RV.Raghavendra, MA Alwar, P Ramaa, Sudha Raghuraman, Dr. Suma Sudheendra,
      Pushkala Gopal, Guru Savithri Jagannath Rao, Minal Prabhu, Anoor R Anantha
      Krishna Sharma, Rathna Kumar, Bharat Gupt to mention a few.
    </p>
  </div>
  <div class="multi-row-section container pad-top">
    <div class="video-wrapper">{% youtube 'Gni2oJO-dHo' %}</div>
  </div>
  <div class="multi-row-section container-flkty space-above">
    <div class="flick-carousel standard is-flkty-hidden">
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629607895/web_trio_series_luqlsm.webp"
            alt="Web Trio Series Intro Flyer"
            class="contain"
          />
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629607892/13th_MAY_l4s8ri.webp"
            alt="Web Trio Series, 13th May 2020 - Demystifying Suladi"
            class="contain"
          />
        </div>
        <div class="slide-caption">
          Web Trio Series, 13th May 2020 - Demystifying Suladi
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629607894/MALE_20TH_MAY_jzobqg.webp"
            alt="Web Trio Series, 20th May 2020 - Reflections of a Male Dancer"
            class="contain"
          />
        </div>
        <div class="slide-caption">
          Web Trio Series, 20th May 2020 - Reflections of a Male Dancer
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629607892/27_MAY_n1pyg4.webp"
            alt="Web Trio Series, 27th May 2020 - From the side podium to center stage, expressing thoughts on Music for Abhinaya & Abhinaya in Music"
            class="contain"
          />
        </div>
        <div class="slide-caption">
          Web Trio Series, 27th May 2020 - From the side podium to center stage,
          expressing thoughts on Music for Abhinaya & Abhinaya in Music
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629607894/JUNE_3RD_vnq2rg.webp"
            alt="Web Trio Series, 3rd June 2020 - Darpana - A Reflection, Deshi/Dasa Pantha - Regional and Dasa literature, Duti - Dutikarmaprakasha"
            class="contain"
          />
        </div>
        <div class="slide-caption">
          Web Trio Series, 3rd June 2020 - Darpana - A Reflection, Deshi/Dasa
          Pantha - Regional and Dasa literature, Duti - Dutikarmaprakasha
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629607894/JUNE_10TH_alqy31.webp"
            alt="Web Trio Series, 10th June 2020 - Bharata Nrityam - Tracing its path from the delta to its source"
            class="contain"
          />
        </div>
        <div class="slide-caption">
          Web Trio Series, 10th June 2020 - Bharata Nrityam - Tracing its path
          from the delta to its source
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629607894/JUNE_17TH_BANI_GHARANA_FINAL_g1lfg7.webp"
            alt="Web Trio Series, 17th June 2020 - Bani/Gharana Concepts & Interpretations or Cloning & Geometry"
            class="contain"
          />
        </div>
        <div class="slide-caption">
          Web Trio Series, 17th June 2020 - Bani/Gharana Concepts &
          Interpretations or Cloning & Geometry
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629607894/JUNE_24_cjii6q.webp"
            alt="Web Trio Series, 24th June 2020 - Shades in Abhinaya"
            class="contain"
          />
        </div>
        <div class="slide-caption">
          Web Trio Series, 24th June 2020 - Shades in Abhinaya
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629607893/JULY_1_sck2am.webp"
            alt="Web Trio Series, 1st July 2020 - Aalaya Nartaki - Temple Dancer"
            class="contain"
          />
        </div>
        <div class="slide-caption">
          Web Trio Series, 1st July 2020 - Aalaya Nartaki - Temple Dancer
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629607893/JULY_8TH_jfty6d.webp"
            alt="Web Trio Series, 8th July 2020 - Romance - Tradition - Cool Factor"
            class="contain"
          />
        </div>
        <div class="slide-caption">
          Web Trio Series, 8th July 2020 - Romance - Tradition - Cool Factor
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629607893/JULY_15TH_gitzrp.webp"
            alt="Web Trio Series, 15th July 2020 - Inspiring Youngsters speak about Tradition and Transformation"
            class="contain"
          />
        </div>
        <div class="slide-caption">
          Web Trio Series, 15th July 2020 - Inspiring Youngsters speak about
          Tradition and Transformation
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629607892/22ND_JULY_xwexjs.webp"
            alt="Web Trio Series, 22nd July 2020 - Perspectives from the other side of the camera - Relationship between a moving body and the lens"
            class="contain"
          />
        </div>
        <div class="slide-caption">
          Web Trio Series, 22nd July 2020 - Perspectives from the other side of
          the camera - Relationship between a moving body and the lens
        </div>
      </div>
      <div class="carousel-cell">
        <div class="slide-img">
          <img
            src="https://res.cloudinary.com/driyengar/image/upload/v1629607893/AUGUST_5TH_t5unz3.webp"
            alt="Web Trio Series, 5th August 2020 - The Love Triangle ... My 2 Artforms and Me"
            class="contain"
          />
        </div>
        <div class="slide-caption">
          Web Trio Series, 5th August 2020 - The Love Triangle ... My 2 Artforms
          and Me
        </div>
      </div>
    </div>
  </div>
</div>
